apiVersion: hwameistor.io/v1alpha1
kind: Cluster
metadata:
  name: hwameistor-cluster
spec:
  diskReserveConfigurations:
  {{- range $.Values.diskReserve }}
  - nodeName: {{ .nodeName }}
    devices:
    {{- range .devices }}
    - {{ . }}
    {{- end }}
  {{- end }}
  notClaimDisk: {{ $.Values.global.notClaimDisk }}
  targetNamespace: {{ $.Values.global.targetNamespace }}
  rbac:
    serviceAccountName: "hwameistor-admin"
  localDiskManager:
    kubeletRootDir: {{ $.Values.localDiskManager.kubeletRootDir | quote }}
    csi:
      registrar:
        image:
          registry: {{ $.Values.global.k8sImageRegistry }}
          repository: {{ $.Values.localDiskManager.csi.registrar.imageRepository }}
          tag: {{ $.Values.localDiskManager.csi.registrar.tag }}
        resources:
          {{- toYaml .Values.localDiskManager.csi.registrar.resources | nindent 10 }}
      controller:
        replicas: {{ $.Values.localDiskManager.csi.controller.replicas }}
        provisioner:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localDiskManager.csi.provisioner.imageRepository }}
            tag: {{ $.Values.localDiskManager.csi.provisioner.tag }}
          resources:
            {{- toYaml .Values.localDiskManager.csi.provisioner.resources | nindent 12 }}
        attacher:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localDiskManager.csi.attacher.imageRepository }}
            tag: {{ $.Values.localDiskManager.csi.attacher.tag }}
          resources:
            {{- toYaml .Values.localDiskManager.csi.attacher.resources | nindent 12 }}
    manager:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.localDiskManager.manager.imageRepository }}
        tag: {{ template "hwameistor.localDiskManagerImageTag" . }}
      resources:
        {{- toYaml .Values.localDiskManager.manager.resources | nindent 8 }}
    tolerationOnMaster: {{ $.Values.localDiskManager.tolerationOnMaster }}
  localStorage:
    disable: {{ $.Values.localStorage.disable }}
    kubeletRootDir: {{ $.Values.localStorage.kubeletRootDir | quote }}
    csi:
      registrar:
        image:
          registry: {{ $.Values.global.k8sImageRegistry }}
          repository: {{ $.Values.localStorage.csi.registrar.imageRepository }}
          tag: {{ $.Values.localStorage.csi.registrar.tag }}
        resources:
          {{- toYaml .Values.localStorage.csi.registrar.resources | nindent 10 }}
      controller:
        replicas: {{ $.Values.localStorage.csi.controller.replicas }}
        provisioner:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localStorage.csi.provisioner.imageRepository }}
            tag: {{ $.Values.localStorage.csi.provisioner.tag }}
          resources:
            {{- toYaml .Values.localStorage.csi.provisioner.resources | nindent 12 }}
        attacher:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localStorage.csi.attacher.imageRepository }}
            tag: {{ $.Values.localStorage.csi.attacher.tag }}
          resources:
            {{- toYaml .Values.localStorage.csi.attacher.resources | nindent 12 }}
        resizer:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localStorage.csi.resizer.imageRepository }}
            tag: {{ $.Values.localStorage.csi.resizer.tag }}
          resources:
            {{- toYaml .Values.localStorage.csi.resizer.resources | nindent 12 }}
        monitor:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localStorage.csi.monitor.imageRepository }}
            tag: {{ $.Values.localStorage.csi.monitor.tag }}
          resources:
            {{- toYaml .Values.localStorage.csi.monitor.resources | nindent 12 }}
        snapshotController:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localStorage.csi.snapshotController.imageRepository }}
            tag: {{ $.Values.localStorage.csi.snapshotController.tag }}
          resources:
            {{- toYaml .Values.localStorage.csi.snapshotController.resources | nindent 12 }}
        snapshotter:
          image:
            registry: {{ $.Values.global.k8sImageRegistry }}
            repository: {{ $.Values.localStorage.csi.snapshotter.imageRepository }}
            tag: {{ $.Values.localStorage.csi.snapshotter.tag }}
          resources:
            {{- toYaml .Values.localStorage.csi.snapshotter.resources | nindent 12 }}
    member:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.localStorage.member.imageRepository }}
        tag: {{ template "hwameistor.localStorageImageTag" . }}
      resources:
        {{- toYaml .Values.localStorage.member.resources | nindent 8 }}
      rcloneImage:
        repository: {{ $.Values.localStorage.migrate.rclone.imageRepository }}
        tag: {{ $.Values.localStorage.migrate.rclone.tag }}
      juicesyncImage:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.localStorage.migrate.juicesync.imageRepository }}
        tag: {{ $.Values.localStorage.migrate.juicesync.tag }}
      hostPathSSHDir: {{ $.Values.localStorage.member.hostPathSSHDir }}
      hostPathDRBDDir: {{ $.Values.localStorage.member.hostPathDRBDDir }}
    tolerationOnMaster: {{ $.Values.localStorage.tolerationOnMaster }}
  scheduler:
    disable: {{ $.Values.scheduler.disable }}
    replicas: {{ $.Values.scheduler.replicas }}
    scheduler:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.scheduler.imageRepository }}
        tag: {{ template "hwameistor.schedulerImageTag" . }}
      resources:
        {{- toYaml .Values.scheduler.resources | nindent 8 }}
  admissionController:
    disable: {{ $.Values.admission.disable }}
    replicas: {{ $.Values.admission.replicas }}
    controller:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.admission.imageRepository }}
        tag: {{ template "hwameistor.admissionImageTag" . }}
      resources:
        {{- toYaml .Values.admission.resources | nindent 8 }}
    failurePolicy: {{ $.Values.admission.failurePolicy }}
  evictor:
    disable: {{ $.Values.evictor.disable }}
    replicas: {{ $.Values.evictor.replicas }}
    evictor:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.evictor.imageRepository }}
        tag: {{ template "hwameistor.evictorImageTag" . }}
      resources:
        {{- toYaml .Values.evictor.resources | nindent 8 }}
  apiServer:
    disable: {{ $.Values.apiserver.disable }}
    replicas: {{ $.Values.apiserver.replicas }}
    server:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.apiserver.imageRepository }}
        tag: {{ template "hwameistor.apiserverImageTag" . }}
      resources:
        {{- toYaml .Values.apiserver.resources | nindent 8 }}
    authentication:
      enable: {{ $.Values.apiserver.authentication.enable }}
      accessId: {{ $.Values.apiserver.authentication.accessId }}
      secretKey: {{ $.Values.apiserver.authentication.secretKey }}
  exporter:
    disable: {{ $.Values.exporter.disable }}
    replicas: {{ $.Values.exporter.replicas }}
    collector:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.exporter.imageRepository }}
        tag: {{ template "hwameistor.exporterImageTag" . }}
      resources:
        {{- toYaml .Values.exporter.resources | nindent 8 }}
  auditor:
    disable: {{ $.Values.auditor.disable }}
    replicas: {{ $.Values.auditor.replicas }}
    auditor:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.auditor.imageRepository }}
        tag: {{ template "hwameistor.auditorImageTag" . }}
      resources:
        {{- toYaml .Values.auditor.resources | nindent 8 }}
  failoverAssistant:
    disable: {{ $.Values.failoverAssistant.disable }}
    replicas: {{ $.Values.failoverAssistant.replicas }}
    assistant:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.failoverAssistant.imageRepository }}
        tag: {{ template "hwameistor.failoverAssistantImageTag" . }}
      resources:
        {{- toYaml .Values.failoverAssistant.resources | nindent 8 }}
  pvcAutoResizer:
    disable: {{ $.Values.pvcAutoResizer.disable }}
    replicas: {{ $.Values.pvcAutoResizer.replicas }}
    autoresizer:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.pvcAutoResizer.imageRepository }}
        tag: {{ template "hwameistor.pvcAutoResizerImageTag" . }}
      resources:
        {{- toYaml .Values.pvcAutoResizer.resources | nindent 8 }}
  localDiskActionController:
    disable: {{ $.Values.localDiskActionController.disable }}
    replicas: {{ $.Values.localDiskActionController.replicas }}
    controller:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.localDiskActionController.imageRepository }}
        tag: {{ template "hwameistor.localDiskActionControllerImageTag" . }}
      resources:
        {{- toYaml .Values.localDiskActionController.resources | nindent 8 }}
  ui:
    disable: {{ $.Values.ui.disable }}
    replicas: {{ $.Values.ui.replicas }}
    ui:
      image:
        registry: {{ $.Values.global.hwameistorImageRegistry }}
        repository: {{ $.Values.ui.imageRepository }}
        tag: {{ template "hwameistor.uiImageTag" . }}
      resources:
        {{- toYaml .Values.ui.resources | nindent 8 }}
  drbd:
    {{- if .Values.ha.disable }}
    disable: true
    {{- end }}
    deployOnMaster: {{ $.Values.ha.deployOnMaster | quote }}
    imageRegistry: {{ $.Values.global.hwameistorImageRegistry }}
    # imageRepoOwner: "hwameistor"
    imageRepoOwner: {{ $.Values.ha.imageRepoOwner }}
    imagePullPolicy: "IfNotPresent"
    # drbdVersion: "v9.0.32-1"
    drbdVersion: {{ $.Values.ha.drbdVersion }}
    upgrade: "no"
    checkHostName: "yes"
    useAffinity: "no"
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/master
            operator: DoesNotExist
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist
    chartVersion: "v0.3.6"
  storageClass:
    allowVolumeExpansion: true
    reclaimPolicy: "Delete"
    fsType: "xfs"