global:
  targetNamespace: hwameistor
  notClaimDisk: false
  hwameistorImageRegistry: ghcr.io
  #hwameistorImageRegistry: ghcr.m.daocloud.io
  k8sImageRegistry: registry.k8s.io
  # k8sImageRegistry: k8s.m.daocloud.io
  hwameistorVersion: v0.14.6

operator:
  replicas: 1
  imageRepository: hwameistor/operator
  tag: v0.14.8
 
localDiskManager:
  tolerationOnMaster: true
  kubeletRootDir: /var/lib/kubelet
  manager:
    imageRepository: hwameistor/local-disk-manager
    tag: v0.14.6
  csi:
    registrar:
      imageRepository: sig-storage/csi-node-driver-registrar
      tag: v2.5.0
    controller:
      replicas: 1
    provisioner:
      imageRepository: sig-storage/csi-provisioner
      tag: v2.0.3
    attacher:
      imageRepository: sig-storage/csi-attacher
      tag: v3.0.1

localStorage:
  disable: false
  tolerationOnMaster: true
  kubeletRootDir: /var/lib/kubelet
  member:
    imageRepository: hwameistor/local-storage
    tag: v0.14.6
    hostPathSSHDir: /root/.ssh
    hostPathDRBDDir: /etc/drbd.d
  csi:
    registrar:
      imageRepository: sig-storage/csi-node-driver-registrar
      tag: v2.5.0
    controller:
      replicas: 1
    provisioner:
      imageRepository: sig-storage/csi-provisioner
      tag: v3.5.0
    attacher:
      imageRepository: sig-storage/csi-attacher
      tag: v3.0.1
    resizer:
      imageRepository: sig-storage/csi-resizer
      tag: v1.0.1
    monitor:
      imageRepository: sig-storage/csi-external-health-monitor-controller
      tag: v0.8.0
    snapshotController:
      imageRepository: sig-storage/snapshot-controller
      tag: v6.0.0
    snapshotter:
      imageRepository: sig-storage/csi-snapshotter
      tag: v6.0.0
  migrate:
    rclone:
      imageRepository: rclone/rclone
      tag: 1.53.2
    juicesync:
      imageRepository: hwameistor/hwameistor-juicesync
      tag: v1.0.4-01
  snapshot:
    disable: false

scheduler:
  disable: false
  replicas: 1
  imageRepository: hwameistor/scheduler
  tag: v0.14.6

admission:
  disable: false
  replicas: 1
  imageRepository: hwameistor/admission
  tag: v0.14.6
  # failurePolicy defines how unrecognized errors from the admission endpoint
  # are handled - allowed values are Ignore or Fail. Defaults to Fail.
  failurePolicy: "Ignore"
  
evictor:
  disable: true
  replicas: 0
  imageRepository: hwameistor/evictor
  tag: v0.14.6

apiserver:
  disable: false
  replicas: 1
  imageRepository: hwameistor/apiserver
  tag: v0.14.6
  authentication:
    enable: false
    accessId: admin
    secretKey: admin

exporter:
  disable: false
  replicas: 1
  imageRepository: hwameistor/exporter
  tag: v0.14.6

auditor:
  disable: false
  replicas: 1
  imageRepository: hwameistor/auditor
  tag: v0.14.6

failoverAssistant:
  disable: false
  replicas: 1
  imageRepository: hwameistor/failover-assistant
  tag: v0.14.6

pvcAutoResizer:
  disable: false
  replicas: 1
  imageRepository: hwameistor/pvc-autoresizer
  tag: v0.14.6

localDiskActionController:
  disable: false
  replicas: 1
  imageRepository: hwameistor/local-disk-action-controller
  tag: v0.14.6

ui:
  disable: false
  replicas: 1
  imageRepository: hwameistor/hwameistor-ui
  tag: v0.16.0

ha:
  disable: false
  module: drbd
  deployOnMaster: "yes"
  imageRepository: hwameistor/drbd9-shipper
  drbdVersion: v9.0.32-1
  shipperChar: v0.4.1

drbdRhel7:
  imageRepository: hwameistor/drbd9-rhel7

drbdRhel8:
  imageRepository: hwameistor/drbd9-rhel8

drbdRhel9:
  imageRepository: hwameistor/drbd9-rhel9

drbdKylin10:
  imageRepository: hwameistor/drbd9-kylin10

drbdBionic:
  imageRepository: hwameistor/drbd9-bionic

drbdFocal:
  imageRepository: hwameistor/drbd9-focal

dataLoadManager:
  disable: true
  tolerationOnMaster: true
  imageRepository: hwameistor/dataload-manager
  tag: v0.0.1

dataSetManager:
  disable: true
  tolerationOnMaster: true
  imageRepository: hwameistor/dataset-manager
  tag: v0.0.1

dataLoadInit:
  imageRepository: hwameistor/dataload-init
  tag: v0.0.1

# StorageClass Settings
storageClass:
  # If allowed, volume can be expanded by modify pvc related field
  allowVolumeExpansion: true
  reclaimPolicy: Retain

#storageClassReclaimPolicy: Retain > Delete
#datasetDefaultPoolClass: NVMe > SSD > HDD

# diskReserve example
# diskReserve: 
# - nodeName: node1
#   devices:
#   - /dev/sdc
#   - /dev/sdd
# - nodeName: node2
#   devices:
#   - /dev/sdc
#   - /dev/sde

# diskReserve example by json string
# diskReserve: [{"nodeName":"node1","devices":["/dev/sdc","/dev/sdc"]},{"nodeName":"node2","devices":["/dev/sdc","/dev/sde"]}]

# diskReserve example for helm install --set
# --set diskReserve\[0\].nodeName=node1 --set diskReserve\[0\].devices={/dev/sdc\,/dev/sdd} --set diskReserve\[1\].nodeName=node2 --set diskReserve\[1\].devices={/dev/sdc\,/dev/sde}

preHookJob:
  imageRepository: dtzar/helm-kubectl
  tag: 3.9