name: Period check
on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'

jobs:
  e2e-test:
    runs-on: ["vsphere"]
    timeout-minutes: 600
    steps:
      - name: delete
        run: |
          sudo rm -rf  /home/github/_work/hwameistor-operator/hwameistor-operator/_build
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Go, gosec, and Run Security Scan
        run: |
          sudo rm -rf /usr/local/go

          wget https://golang.org/dl/go1.22.7.linux-amd64.tar.gz
          sudo tar -C /usr/local -xzf go1.22.7.linux-amd64.tar.gz
          export PATH=/usr/local/go/bin:$PATH
          go version
          
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          export PATH=$(go env GOPATH)/bin:$PATH
          gosec --version

          gosec -severity high -confidence high ./... || exit 1
      - name: e2e test
        env:
          E2E_TESTING_LEVEL: "periodCheck"
        run: make e2e-test